<%- include('../partials/global'); %>
<%- include('../partials/navbar'); %>

<div id='users-container'>
    
</div>


<style>
    #users-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        margin: 0 30px;
        width: 100%;
    }

    .user{
        width: 240px;
        height: 140px;
        background: var(--primary-color);
        color: white;
        border-radius: 3px;
        padding: 20px;
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: linear-gradient(to bottom right, var(--primary-color), #84d99b);

        box-shadow: 10px 5px 20px 1px rgba(0,0,0,.2);
    }

    .user:hover{
        transform: translateY(-3px);
        transition-duration: .1s;
        box-shadow: 10px 5px 20px 1px rgba(0,0,0,.1);
        padding-bottom: 28px;
    }

    .attribute{
        margin: 10px 0;
        user-select: none;
    }

    .name-attr{
        font-size: 18px;
        font-weight: bold;
    }

    .time-attr{
        font-size: 12px;
        /* font-style: italic; */
        opacity: 0.75;
    }


</style>
<script>
let user_card_html = 
`
<div class='user' id='user-{{email}}'>
    <a class='attribute name-attr'>{{name}}</a>
    <a class='attribute time-attr'>Last seen: {{time}}</a>
</div>
`;

fetch('http://localhost:3000/userdata').then(res=>res.json()).then(user_data=>{
    let injected_html = ``
    for(let i = 0; i < Object.keys(user_data).length; i++){
        let attr = user_data[Object.keys(user_data)[i]].attributes


        let email = Object.keys(user_data)[i]
        let name = attr.firstName + ' ' + attr.lastName
        let time = userFriendlyTime(new Date(new Date().getTime() - parseInt(60000*Math.random()*4500)))

        console.log(time)
        injected_html += user_card_html.replace('{{name}}', name)
                                       .replace('{{time}}', time)
                                       .replace('{{email}}', email)
                                    
    }
    document.getElementById('users-container').innerHTML = injected_html;
})

function userFriendlyTime(time){
    let now = new Date();
    let seconds = parseInt((now - time)/1000);
    let minutes = parseInt(seconds/60);
    let hours = parseInt(minutes/60);
    let days = parseInt(hours/24);

    if(days > 5){
        return time.toString().split(' ')[1] + " "+ time.toString().split(' ')[2] 
    }

    if(hours > 24){
        if(days == 1){
            return days + " day ago"
        }else{
            return days + " days ago"
        }
    }

    if(minutes > 60){
        if(hours == 1){
            return hours + " hour ago"
        }else{
            return hours + " hours ago"
        }
    }

    if(seconds > 60){
        if(minutes == 1){
            return minutes + " minute ago"
        }else{
            return minutes + " minutes ago"
        }
    }

    if(seconds == 1){
        return seconds + " second ago"
    }else{
        return seconds + " seconds ago"
    }

    return "Invalid date"
}
</script>

