<%- include('../partials/global'); %>
<%- include('../partials/navbar'); %>

<%- include('../partials/error'); %>

<div id='user-container'></div>

<style>
    #user-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #left-container, #right-container{
        width: 50%;
        border: 1px solid black;
    }
</style>

<script>
let user_html =
`
<h1 class='user-name'>{{name}}</h1>
`
fetch('http://localhost:3000/userdata').then(res=>res.json()).then(user_data=>{
    let attr = user_data[new URLSearchParams(window.location.search).get('id')].attributes
    user_html = user_html.replace('{{name}}', attr.firstName + ' ' + attr.lastName);
    console.log(typeof attr);
    for(const key of Object.keys(attr)){
        user_html += `<h3>` + key + `: ` + attr[key] + `</h3>`;
    }
    document.getElementById('user-container').innerHTML = user_html;
});


</script>
